:root,
body.vscode-body,
body.vscode-dark,
body.vscode-light {
  color-scheme: light;
  --vscode-editor-background: #ffffff;
  --vscode-editor-foreground: #1f2328;
  --vscode-textLink-foreground: #0969da;
  --vscode-textPreformat-foreground: #1f2328;
  --vscode-textBlockQuote-background: #ffffff;
  --vscode-textBlockQuote-border: #d0d7de;
}

body.vscode-body,
body.vscode-body * {
  box-sizing: border-box;
}

body.vscode-body,
body.vscode-dark,
body.vscode-light {
  background: #ffffff !important;
  color: #1f2328 !important;
}

body.vscode-body {
  max-width: 980px;
  min-width: 200px;
  margin: 0 auto;
  padding: 45px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  overflow-wrap: break-word;
}

body.vscode-body::before {
  display: table;
  content: "";
}

body.vscode-body::after {
  display: table;
  clear: both;
  content: "";
}

body.vscode-body > *:first-child {
  margin-top: 0 !important;
}

body.vscode-body > *:last-child {
  margin-bottom: 0 !important;
}

body.vscode-body a {
  color: #0969da;
  text-decoration: none;
}

body.vscode-body a:hover {
  text-decoration: underline;
}

body.vscode-body b,
body.vscode-body strong {
  font-weight: 600;
}

body.vscode-body p,
body.vscode-body blockquote,
body.vscode-body ul,
body.vscode-body ol,
body.vscode-body dl,
body.vscode-body table,
body.vscode-body pre,
body.vscode-body details {
  margin-top: 0;
  margin-bottom: 16px;
}

body.vscode-body blockquote {
  padding: 0 1em;
  color: #59636e;
  background: #ffffff;
  border-left: 0.25em solid #d0d7de;
}

body.vscode-body blockquote > :first-child {
  margin-top: 0;
}

body.vscode-body blockquote > :last-child {
  margin-bottom: 0;
}

body.vscode-body h1,
body.vscode-body h2,
body.vscode-body h3,
body.vscode-body h4,
body.vscode-body h5,
body.vscode-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  color: #1f2328;
  font-weight: 600;
  line-height: 1.25;
}

body.vscode-body h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #d8dee4;
}

body.vscode-body h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #d8dee4;
}

body.vscode-body h3 {
  font-size: 1.25em;
}

body.vscode-body h4 {
  font-size: 1em;
}

body.vscode-body h5 {
  font-size: 0.875em;
}

body.vscode-body h6 {
  color: #59636e;
  font-size: 0.85em;
}

body.vscode-body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d8dee4;
  border: 0;
}

body.vscode-body ul,
body.vscode-body ol {
  padding-left: 2em;
}

body.vscode-body ul ul,
body.vscode-body ul ol,
body.vscode-body ol ol,
body.vscode-body ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

body.vscode-body li + li {
  margin-top: 0.25em;
}

body.vscode-body li > p {
  margin-top: 16px;
}

body.vscode-body table {
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

body.vscode-body table th,
body.vscode-body table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

body.vscode-body table th {
  font-weight: 600;
}

body.vscode-body table tr {
  background-color: #ffffff;
  border-top: 1px solid #d8dee4;
}

body.vscode-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

body.vscode-body code,
body.vscode-body tt {
  padding: 0.2em 0.4em;
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  color: #1f2328;
}

body.vscode-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border: 0;
  border-radius: 6px;
}

body.vscode-body pre code,
body.vscode-body pre tt {
  display: inline;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  white-space: pre;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
  color: #1f2328;
}

body.vscode-body img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
}

body.vscode-body figure {
  margin: 16px 0;
}

body.vscode-body figcaption {
  margin-top: 8px;
  color: #59636e;
  font-size: 0.875em;
}

@media (max-width: 767px) {
  body.vscode-body {
    padding: 15px;
  }
}
